.row {
    margin-left: 20px;
    color: white;
    margin-bottom: 30px;
}

h2 {
    padding-left: 20px;
}

.slider {
    position: relative;
}

.slider_arrow_left {
    background-clip: content-box;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.slider_arrow_right {
    padding: 20px 0;
    background-clip: content-box;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.arrow {
    transition: 400ms all ease-in-out;
}

.arrow:hover {
    transition: 400ms all ease-in-out;
    transform: scale(1.5);
}

.slider:hover .slider__arrow-left {
    transition: 400ms all ease-in-out;
    visibility: visible;
}

.slider:hover .slider__arrow-right {
    transition: 400ms all ease-in-out;
    visibility: visible;
}

.slider_arrow_left:hover {
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}

.slider_arrow_right:hover {
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0 20px 20px;
    scroll-behavior: smooth;
    z-index: 5;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 144px;
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 4px;
}

.row_poster:hover {
    transform: scale(1.08);
    z-index: 10;
}

.row_posterLarge {
    max-height: 320px;
    position: relative;
    z-index: 1;
    transform-origin: center center;
    transition: all 0.3s ease;
}

.row_posterLarge {
    transform-origin: center center;
}

/* 화면 맨 왼쪽 */
.first-visible-slide .row_posterLarge {
    transform-origin: left center;
}

/* 화면 맨 오른쪽 */
.last-visible-slide .row_posterLarge {
    transform-origin: right center;
}

.row_posterLarge:hover {
    transform: scale(1.3);
    z-index: 999;
    opacity: 1;
}

.row_arrow-left {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    width: 32px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.row_arrow-right {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    width: 32px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .row_poster {
        max-height: 160px;
    }

    .row_posterLarge {
        max-height: 360px;
    }
}

@media screen and (max-width: 768px) {
    .row_poster {
        max-height: 100px;
    }

    .row_posterLarge {
        max-height: 280px;
    }
}

.custom-swiper {
    overflow: visible !important;
    z-index: initial;
    position: relative;
}

.swiper-slide {
    overflow: visible !important;
}

.swiper-pagination-horizontal {
    width: auto !important;
    margin-right: 15px !important;
}

.swiper-custom-pagination {
    display: flex;
    gap: 0 !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 2px !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.3) !important;
    margin: 0 0.5px !important;
    transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: white !important;
}

.swiper-button-prev {
    color: white !important;
}

.swiper-button-next {
    color: white !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}
.row-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.row-header h2 {
    margin-bottom: 0;
}

.swiper-custom-pagination {
    display: flex;
    gap: 6px;
}

.swiper-custom-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: gray;
    opacity: 0.7;
    border-radius: 100%;
    cursor: pointer;
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}
